*.d
*.o
*.a
*.so
*.dep
*.dwo
*.gitkeep

lib
tags

*_asan
sample/audio/sample_audio
sample/audio/sample_audio_aec
sample/audio/sample_audio_nr
sample/audio/sample_audio_resample
sample/audio/sample_audio_transcode
sample/audio/sample_audio_rtos
sample/audio/aac_sample/cvi_audio_aac_adp.d
sample/cipher/sample_cipher
sample/cvg/sample_cvg
sample/mipi_tx/sample_dsi
sample/fisheye/sample_fisheye
sample/overlay/sample_overlay
sample/region/sample_region
sample/venc/sample_vcodec
sample/vdec/sample_vdec
sample/venc/sample_venc
sample/vio/sample_vio
sample/vdecvo/sample_vdecvo
sample/multivenc/sample_multivenc
sample/sample_ir_auto/sample_ir_auto
sample/mipi_tx/lt9611/lt9611
sample/osdc/sample_osdc
sample/scene_auto/sample_scene_auto
sample/sensor_test/sample_sensor_test
sample/tp2863_tp2803/sample_test_tp2863_tp2803
sample/sample_panel/sample_panel
sample/sample_panel/lt9611/lt9611
sample/rtk_hciattach/rtk_hciattach
sample/ive/ive_stress

modules/venc/vc/jpeg/driver/bm_jpg_test
modules/venc/vc/jpeg/driver/bmjpuapi/bmjpegdec
modules/venc/vc/jpeg/driver/bmjpuapi/bmjpegenc
modules/venc/vc/vcodec/codebase/cvi_h265_enc_test
modules/venc/vc/vcodec/codebase/cvi_h264_dec
modules/venc/vc/vcodec/codebase/cvi_h265_dec
modules/venc/vc/jpeg/driver/cvi_jpg_codec
modules/venc/vc/vcodec/codebase/sample/cvi_vcodec_version.h
modules/venc/vc/jpeg/driver/include/version.h

.vscode/settings.json

#modules/isp
component/isp

#sample/ive
sample/ive/sample_16bitto8bit
sample/ive/sample_add
sample/ive/sample_and
sample/ive/sample_bernsen
sample/ive/sample_bgmodel
sample/ive/sample_cannyedge
sample/ive/sample_cannyhysedge
sample/ive/sample_csc
sample/ive/sample_dilate
sample/ive/sample_dma
sample/ive/sample_erode
sample/ive/sample_filter
sample/ive/sample_filterandcsc
sample/ive/sample_framediffmotion
sample/ive/sample_gmm
sample/ive/sample_gmm2
sample/ive/sample_gradfg
sample/ive/sample_hist
sample/ive/sample_integ
sample/ive/sample_lbp
sample/ive/sample_magandang
sample/ive/sample_map
sample/ive/sample_ncc
sample/ive/sample_normgrad
sample/ive/sample_or
sample/ive/sample_ordstatfilter
sample/ive/sample_query
sample/ive/sample_resize
sample/ive/sample_sad
sample/ive/sample_sobel
sample/ive/sample_stcandicorner
sample/ive/sample_sub
sample/ive/sample_thresh
sample/ive/sample_thresh_S16
sample/ive/sample_thresh_U16
sample/ive/sample_xor

# No need to ignore 
!/modules/audio/SSP_Algorithm_20220128/obj/*


